*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
}

#menue{
    position: fixed;
    padding-top: 0.7%;
    width: 100%;
    background-color: white;
}

#menue-item-list{
    padding-top: 2%;
    height: 1.98em;
    font-size: 120%;/*112.5%;*/
}

td.white-space-border{
    width: 5%;
}

td.menue-item{
    width: 18%;
    text-align: center;
    font-weight: bold;
}

td.menue-item a{
    text-decoration: none;
    color: #cc2f83ce;
}

td.menue-item a:hover{
    text-decoration: underline;
    color: #9ecc49c5;
}

#home{
    border: 1px solid white;
    padding-top: 4%;
    padding-bottom: 2%;
}

#header{
    width: 90%;
    padding-top: 2.5%;
    padding-bottom: 5%;
    background: linear-gradient(to top right,#cc2f83ce 0%,#d274a6ce 100%);
    background-size: cover;
    background-position: center;
    color: whitesmoke;
    border-radius: 15px;
}

#home-table, .content-table{
    margin-left: 5%;
    margin-right: 5%;
}

#header-image{
    display: inline-block; 
    vertical-align: bottom;
    margin-top: 10%;
    border: 0;
    width: 88.7%;
    height:52.63%;
    
}

h1.header, td.header{
    font-family: 'Didot Italic';
    font-weight: 400;
    font-size: 255%;
    line-height: 1;
    text-align: center;
    font-style: italic;
    text-transform: uppercase;
    vertical-align: baseline;
    margin-top: 5%;
    margin-bottom: 2%;
}

#content-cell{
    padding-left:5%;
    width: 50%;
    font-size: 110%;
}

h2.intro{
    font-size: 150%;
    text-align: center;
    font-family: 'Futura Book';
    font-weight: bold;
    margin-bottom: 8%;
}

.chevron-left, .chevron-right{
    font-family: 'Didot Italic';
    font-style: italic;
    font-weight: 400;
    font-size: 200%;
    vertical-align:baseline;
}

h2.reference-my-name{    
    text-align: right;
    font-family: 'Futura Book';
    font-weight: normal;
    line-height: 0.2;
    font-size: 150%;
    font-style: oblique;
    padding-right: 15%;
    color: #9ecc49c5;      
}

#about-me-link{
    text-decoration: none;
    color: whitesmoke;
}

#about-me-link:hover{
    text-decoration: none;
    color: #9ecc49c5;
}

.scroll-container{
    position: relative;
    display: block;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.other-scroll-container{
    position: relative;
    display: block;
    bottom: 30px;
    right: 50%;
    transform: translate(50%, -50%);
}

.scroll-text{
    font-family: 'Futura Book';
    text-align: center;
    font-weight: bold;
    font-size: 112.5%;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.icon-container{
    font-family: verdana;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

a.scroll-link{
    color: #9ecc49c5;
    text-decoration: none;
}

a.scroll-link:hover{
    color: #d274a6ce;
    text-decoration: none;
}

.contact-logos-table{
    border: 2px dashed #d274a6ce;
    border-radius: 15px;
    vertical-align: middle;
    text-decoration: none;
}

img.facebook-logo{
    height: 9.77%;
    width: 9.77%;
    margin-left: 0%;
}

img.instagram-logo{
    height: 8.6%;
    width: 8.6%;
    margin-left: 12%;
}

img.gmail-logo{
    height: 9.77%;
    width: 9.77%;
    margin-left: 12%;
}

img.linkedin-logo{
    height: 9.77%;
    width: 9.77%;
    margin-left: 12%;
}

#about-me, #my-journey, #my-skills, #contact-me{
    border: 1px solid white;
    padding-top: 4%;
    padding-bottom: 3%;
}

#about-me-container, #my-journey-container, #my-skills-container, #contact-me-container{
    width: 107rem;
    margin-bottom: 20%;
    padding-top: 12%;
    padding-bottom: 10%;
    background-image: linear-gradient(to top right,rgba(255, 255, 255, 0.65) 0%, rgba(245, 245, 245, 0.95) 100%), url(../images/social-media-collection-green-pink.png);
    background-position: top;
    color: black;
    border: 2px dashed #d274a6ce;
    border-radius: 15px;
}

#my-journey-container{
    padding-top: 3%;
    padding-bottom: 4%;
}

#my-journey-container .section-title-cell{
    padding-top: 12%;
}

#contact-me-container{
    padding-top: 14%;
    padding-bottom: 6%;
}

.section-title-cell{
    width:35%;
    vertical-align:top; 
    text-align: center;
    color:#9ecc49c5; 
    font-size: 175%;
    text-decoration: underline;
}

.section-content-cell{
    width:65%;
    vertical-align:text-top; 
    padding-right:7.5%;
    padding-left: 7.5%;
    font-size: 150%;
    font-family: 'Futura Book';
    font-weight: 500;
    line-height: 1;
}

 #academy-journey-div{
     border: 2px dashed #d274a6ce;
     border-radius: 15px;
} 

.school-logo-cell{
    width: 33%;
    text-align: center;
    padding: 2% 0;
}

.school-text-cell{
    vertical-align: middle;
}

#concordia-logo{
    height: 30%;
    object-fit: contain;
}

#UCT-logo{
    height: 70%;
    width: 90%;
    object-fit: contain;
}

#UAS-logo{
    height: 50%;
    object-fit: contain;
}

#prof-journey-div{
    text-align: center;
    vertical-align: middle;
    border: 2px dashed #d274a6ce;
    border-radius: 15px;
}

.prof-logo-cell{
    width: 33%;
    padding: 1.5% 0;
}

#desjardins-logo{
    width: 30%;
    object-fit: contain;
}

#qatar-airways-logo{
 width: 60%;
 object-fit: contain;
}

#hudson_Bay_Logo{
    width: 50%;
    object-fit: contain;
}

#travel-todo-logo{
    width: 60%;
    object-fit: contain;
}

#exceljob-logo{
    width: 60%;
    object-fit: contain;
}

#keejob-logo{
    width: 45%;
    object-fit: contain;
}

.skillset{
    column-count: 3;
    column-gap: 40px;
    column-rule: 2px dashed #d274a6ce;
    margin-left: 5%;
    line-height: 155%;
}

.skillset li{
    margin-left: 10%;
}

.contact-form{
    display:block; 
    text-align: center;
    margin-top: -10%;
    margin-left: 20%;
}

#contact-form{
    display:inline-block;
    font-size: 90%;
}

#form-content{
    display: block;
}

input[type="text"],
input[type="password"],
textarea,
select {
  width: 30rem;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

label{
    color: #9ecc49c5;
    font-weight: bold;
    font-size: 110%;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
  background-color: #ddd;
  outline: none;
}

input[type="text"],
input[type="password"],
select {
    height: 2rem;
}
textarea{
    height: 5rem;
}

.submit-button {
    padding: 15px 25px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-size: 110%;
  }

  .submit-button:hover {
    color: #9ecc49c5;
  }

.submit-button:active {
    color: #d274a6ce;

}
.field-container{
    text-align: left;
    display: block;
    margin: 2%;

}